<div class="content">
  <div class="bola" >
    <div class="bola2">
      <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
    </div>
</div>
<div style="height: 20px;"></div>
<div style="margin-top: 15px; width: 75% !important; margin:auto !important">
        <p>{{message}}</p>
  </div>
  <div class="fna-div-button">
          <div style="margin-top: 15px;"> 

          <ion-button expand="block" fill="outline" color="medium" class="align-bottom" shape="round" 
          (click)="Cerrar()">Aceptar</ion-button>

        </div>
        
 </div>
 <div style="height: 50px;"></div>
</div>