ion-content{
    --ion-background-color: #1a75bc;
    
  }
  
  ion-item{
      --ion-background-color: #fff;
      font-size: 14px;
  }
  
  
  .div{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 32px -4px #2E2E2E; 
box-shadow: 4px 4px 32px -4px #2E2E2E;
  width: 80%; 
  background-color: #fff; 
  margin:auto; 
  margin-top: 30%;
  }
  